/* Global */ 
:root {
  /* Size */
  --icon-size: 60px;
  --width-size: 80px;
  --height-size: 80px;

  /* Border */
  --border-radius: 5px;
  --border: 3px solid black;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-semi-medium: 22px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: cadetblue;
  font-family: "Open Sans", sans-serif;
}

header {
  margin: 20px auto;
  width: 95vw;
  text-align: center;
  font-size: var(--font-medium);
  font-weight: 800;
  color: #ffffff;
}

.map {
  height: 70%;
}

#game {
  height: 50vh;
  width: 95vw;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./img/background.png");
  border-radius: var(--border-radius);
}

.bug {
  height: var(--icon-size);
  width: var(--icon-size);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./img/bug.png");
}

.carrot {
  height: var(--icon-size);
  width: var(--icon-size);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./img/carrot.png");
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  height: 30%;
  justify-content: space-evenly;
}

.menu__play {
  outline: none;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: blanchedalmond;
  width: calc(var(--width-size)/2);
  height: calc(var(--height-size)/2);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.stop, .play {
  color: black;
  font-size: var(--font-medium);
}

.hidden {
  display: none; 
}

.menu__timer {
  background-color: white;
  width: var(--width-size);
  height: calc(var(--height-size)/3);
  border: var(--border);
  border-radius: var(--border-radius);
  font-size: var(--font-regular);
  font-weight: 600;
  margin-bottom: 5px;
}

.menu__count {
  color: white;
  background-color: orange;
  border: var(--border);
  border-radius: 50%;
  width: calc(var(--width-size)/2);
  height: calc(var(--height-size)/2);
  font-size: var(--font-semi-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}