/* Global */ 
:root {
  /* Size */
  --icon-size: 40px;
  --width-size: 80px;
  --height-size: 80px;

  /* Border */
  --border-radius: 5px;
  --border: 3px solid black;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-semi-medium: 22px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: cadetblue;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

header {
  margin: 20px auto;
  width: 95vw;
  text-align: center;
  font-size: var(--font-medium);
  font-weight: 800;
  color: #ffffff;
}

#game {
  position: relative;
  height: 50vh;
  width: 95vw;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./img/background.png");
  border-radius: var(--border-radius);
}

.bug {
  height: var(--icon-size);
  width: var(--icon-size);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./img/bug.png");
  cursor: pointer;
}

.carrot {
  height: var(--icon-size);
  width: var(--icon-size);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./img/carrot.png");
  cursor: pointer;
}

.map {
  height: 70%;
  position: absolute;
  width: 100%;
  top: 30%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
  top: 5px;
  justify-content: space-evenly;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.menu__play {
  outline: none;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: blanchedalmond;
  width: calc(var(--width-size)/2);
  height: 40%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.stop, .play {
  color: black;
  font-size: var(--font-semi-medium);
}

.hidden, .modal.hidden {
  display: none; 
}

.menu__timer {
  background-color: white;
  width: var(--width-size);
  height: 30%;
  border: var(--border);
  border-radius: var(--border-radius);
  font-size: var(--font-regular);
  font-weight: 600;
  margin-bottom: 5px;
}

.menu__count {
  color: white;
  background-color: orange;
  border: var(--border);
  border-radius: 50%;
  width: calc(var(--width-size)/2);
  height: 30%;
  font-size: var(--font-semi-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: var(--border-radius);
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.modal__content {
  font-weight: bold;
  font-size: var(--font-medium);
  margin-bottom: 10px;
}

.modal button {
  font-weight: bold;
  background-color: cadetblue;
  color: white;
  border-radius: var(--border-radius);
  height: 30px;
  width: 70px;
  cursor: pointer;
  z-index: 999;
}